* {
  font-family: Arial;
  /*background-color: darkblue;*/
}

.grid {

}

.grid section {
  display: flex;
  flex-flow: row wrap;
  margin: 32px 0;
  width: 100%;
  height: auto;
  justify-content: center;
}

.grid div {
  margin: 10px 10px;
  flex-basis: 400px;
  border-style: solid;
}

.grid img {
  width: 100%;
  height: auto;
}

.grid h2 {
  font-size: 10px;
  padding: 5px;
}

.interactive div {

}
.outer_container {
  display: flex;
  flex-flow: row nowrap;
  margin: 32px 0px;
  width: 100%;
  height: auto;
  justify-content: center;
}
.interactive svg {
  height: 500px;
  height: auto;
}

.container {
  width: 15%;
  height: 15%;
  margin: 16px 16px;
}
.my-rect {
  fill: skyblue;
}
.my-rect:hover {
  fill: darkblue;
}
.my-circ {
  fill: palegreen;
}
.my-circ:hover {
  fill: darkgreen;
}

h1 {
  font-size: 30px;
  text-align: center;
}
h3 {
  font-size: 20px;
  text-align: center;
}
.links li {
  text-align: center;
}
