* {
 font-family: Arial;
}

body {
  background-color: darkblue;
}

h1 {
  color: white;
  text-align: center;
}

section {
  display: flex;
  flex-wrap: wrap;

}

div {
}

img {
  width:  600px;
  height:  400px;
}